*{
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-image: url("assignment1/images/header.jpeg");
    background-size: cover;
    /* filter: grayscale(0.000001); */
    height: 500px;
    background-position: center;
    padding: 0 1rem;
    z-index:1;
    color: white;

}
header::after{
        height: 500px;;
        position: absolute;
        left:0;
        top:0;
        background: inherit;
        filter: blur(1.3px);
        z-index: 2;
}

.logo-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

nav a{
    padding: 10px 1rem;
    color: white;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}
nav a:hover{
    color: tomato;
}

nav a.active{
    color: tomato;

}

.aboutme{
    width: 80%;
    margin: 0 auto;
}

.aboutme h1{
    margin-top: 50px;
}

.header-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
}


.aboutme-u h1{
   margin-left: 15px;
   font-size: 30px;

}

.aboutme-d{
    width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;

}

.aboutme-d-l{
    border-radius: 2em;

}
.aboutme-d-l img {
    width: 80%;
    border-radius: 1em;

}

.aboutme-d-r {

    font-size: 16px;

}
.aboutme-d-r table tr {
    height: fit-content;
}

.aboutme-d-r table tr td {
    padding-right: 10px;
}

.projects {
    background-color: snow;
}
.projects-title {
    padding-top: 5px;
}
.project-card2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
  }
.project-card3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
}
.project-card-single{
    width: 90%;
    border: 1px solid #ff4d41;
    border-radius: 1em;
}

.project-card-single img{
    width: 90%;
    padding-top: 15px;
    padding-left: 15px;
}
.project-card-single h3{
    text-align: center;
}
.project-card-single p{
    color: rgb(110, 109, 109);
    padding: 5px 10px;
}

.designing-card {



    /* display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;  */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.designing-card-single{
    width: 90%;

}

.designing-card-single img{
    width: 90%;
    border-radius: 1em;
}
.contain1{
    width: 80%;
    margin: auto;
}
.contain2 {
    width: 90%;
    margin: auto;
}
.contain3 {
    width: 90%;
    margin: auto;
}
.contain2 h3{
    color: coral;
}

.mediaImg {
    width: 430px;
}
button {
    background-color: lightcoral;
    border-width: 0px;
    border-radius: 0.4em;
    text-decoration: none;
    font-size: 18px;
}
button {
   cursor: pointer;
   color: white;
}

#senior{
    background-color: lightgray;
    
}